.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px ; 
  margin-top: 40px;
  background-color: white;
  width: 80vw;
  height: auto;
  border: 1px solid rgb(150, 150, 150);
}

.homepage__left {
  flex: 1;
  padding-right: 20px;
}

.homepage__left h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.homepage__left p {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
}

.shopNowBtn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  width: 150px;
}
.shopNowBtn a {
  color: #fff;
}

.shopNowBtn:hover {
  background-color: #474747;
}

.homepage__right {
  flex: 1;
}

.electronicsImage {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .homepage__left {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .homepage__left h1 {
    font-size: 1.5rem;
  }
  .homepage__left p {
    font-size: 12px;
  }
  .shopNowBtn {
    font-size: 14px;
  }

  .homepage__right {
    margin-top: 20px;
  }

  .electronicsImage {
    width: 80%;
  }
}

.policy-subscribe-section {
  padding: 40px 0px;
  background-color: #fff;
  width: 80vw;
  text-align: center;
  
}


.policies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.policy-item {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.policy-icon {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}

.policy-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.policy-description {
  font-size: 14px;
  color: #555;
}


.subscribe {
  margin-top: 20px;
}

.subscribe-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.subscribe-description {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  width: 250px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.subscribe-button {
  padding: 10px 0px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.subscribe-button:hover {
  background-color: #333;
}


@media screen and (max-width: 768px) {
  .policy-subscribe-section {
    padding: 40px 0px;
    background-color: #fff;
    width: 80vw;
    text-align: center;
   
  }
  .policies {
    flex-direction: column;
    align-items: center;
  }

  .policy-item {
    width: 100%;
    max-width: 300px;
  }

  .subscribe-form {
    flex-direction: column;
  }
  .subscribe {
    width: 115%;
  }

  .subscribe-input {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .subscribe-button {
    width: 150px;
    border-radius: 4px;
  }
}
